<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="TrainingDbConn" connectionString="Data Source=AlekyaVamsee;Initial Catalog=Training;Integrated Security=True;"/>
		<add name="DbConn" connectionString="Data Source=AlekyaVamsee;Initial Catalog=Northwind;Integrated Security=True;"/>
	</connectionStrings>
	<appSettings>
		<add key="ErrorLogMail" value="Mail@gmail.com"/>
		<add key ="DbName" value="Sample"/>
	</appSettings>
</configuration>